$yellow: #fecf33;
$light-orange: #fdbd39;
$peach: #ee6723;
$gray: #f5f6fA;
$black: #000000;
$white: #ffffff;
$ash: #979797;
$mobile-gray: #EDE3D8;
$mobile-nav-header: #f6f6f6;

%bg-gray {
  background-color: $gray;
}

%bg-black {
  background-color: $black;
}

%bg-success {
  background-color: #4F8A10;
  color: #DFF2BF;
}