body {
  font-family: system-ui;
  font-size: 1em;
}

h3 {
  font-weight: 450;
}

@font-face {
  font-family: 'Berlin Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Berlin Sans'), url('/fonts/BRLNSDB.woff') format('woff');
}

.bold {
  font-weight: bold;
}